---
const { name, image,qrcode } = Astro.props;
---
<div class="w3-display-container ml-5 mb-5">
    <img src={image} class="max-h-[24rem]">
    <div class="w3-display-bottomleft w3-container w3-text-black">
      <h2>{name}</h2>
    </div>
    <div class="w3-display-topleft">
      <img src={qrcode} class="max-h-[5rem]">
    </div>
</div>